@CHARSET "ISO-8859-1";
*{
  font-family: helvetica, sans-serif;

}
html{
  height:100%;
}
body{
 background: linear-gradient(rgb(140, 72, 152), rgb(205, 197, 208));
 background: -webkit-linear-gradient(rgb(140, 72, 152), rgb(205, 197, 208)); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(rgb(140, 72, 152), rgb(205, 197, 208)); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(rgb(140, 72, 152), rgb(205, 197, 208)); /* For Firefox 3.6 to 15 */
 background-repeat:no-repeat;
 background-attachment: fixed;
}

#logo_container h1{
  color: #292929;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
}
.error{ /*validator error msg*/
  color:red;
}
.fa-wikipedia:before { 
  font-family: "Times New Roman", Times, serif;
  font-weight: 400; 
  content: "VV"; 
  letter-spacing:-0.45em; 
  margin-right:0.5em;
}
#Search_box{
  padding-top:5px;
}
#trending-searches img{
  width:55px;
  height:55px;
  margin-right:10px;
  margin-top: 5px;
}
@media (max-width:500px) { 
  #Search_box .input-group-btn, #Search_box .input-group .form-control {
    display: block;
    margin-bottom: 10px;
    width:100%;
    clear: both;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
  #Search_box .input-group-btn .btn {
    width: 20%;

  }
  #Search_box .input-group-btn .btn:first-child {
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   margin-left:2px;
 }
 #Search_box .input-group {
  display: block;
}
}
/*livescore*/
.carousel-inner>.item {
  padding-left:30px;
  /*margin-top:15px;*/
}
.carousel-control.left , .carousel-control.right{
  background-image: none;
}
.carousel-control{
  width:3%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
  color:gray;
  font-size: 18px ;
  top:54%;
  text-shadow:none ;
}
.carousel-control .glyphicon-chevron-left:hover, .carousel-control .glyphicon-chevron-right:hover{
  color:black;
}
.tab-content{
  margin-top:15px;
  margin-bottom:15px;
}
.tab-content #cricket-1 , #movies_outer .tab-content{
  margin-left:10px;
}
#cricket_outer{
  padding-bottom:0px !important;
}
#cricket_outer table{
  margin-bottom: 0px;
}
#cricket_outer table td{
  border-top:none ;
  vertical-align: middle;
  white-space: nowrap;
}
#cricket_outer #pastMatchCarousel table tr td:first-of-type{
  width:15% ;
}
#cricket_outer #pastMatchCarousel table tr td:nth-child(2) {
 width:20% ;
 border-left: 1px solid #DDD;
 text-align: center;
}
#cricket_outer #pastMatchCarousel table tr td:nth-child(3) {
 border-left: 1px solid #DDD;
 padding-left:20px;
}
#cricket_outer #upcomingMatchCarousel table tr td:first-of-type {
  width: 4%;
}
#cricket_outer #upcomingMatchCarousel table tr td:nth-child(2) {
 width:25% ;
 border-left: 1px solid #DDD;
 padding-left:20px;
 text-align: left;
}
.game-result{
  font-weight:bold;
}
#cricket_outer img{
  margin-right:10px;
  width:25px;
}

#cricket_outer li a
{
  outline-color: transparent;
}
.score{
  font-weight: 100;
}
.teams{
  width:20%;
}
.score, .teams{
  border-top: none !important;
}
.series_name{
  font-style: italic;
}
#gmail_outer a{
  text-decoration: none;
}
.application,#deals,.news_feed_outer{
 border: 1px solid;
 border-color:transparent;
 border-top: 2px solid #422150;
 background:white;
 margin-top:2%;  
 padding-top: 1px;
 padding-right: 10px;
 padding-bottom: 25px;
 padding-left: 10px; 
 overflow: hidden;
}
.channel_outer{
  padding-top:5px;
  padding-bottom:0px;
}
.panel-collapse{
  overflow: hidden;
}
.well{
  background-color: rgba(191, 171, 200, 0.06);
}
.channels th{
  width:10%;
}
#tv_schedule_modal .table{
  table-layout: fixed;
}
button.channelLogoBox img {
  width: 75px;
  height: 75px;
  padding: 9px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-bottom-color: #ccc;
}
button.channelLogoBox:hover {
  background: #BD7EE2;
}

button.channelLogoBox {
  float: left;
  padding: 2px;
  margin: 5px 5px 0 0;
  background: #f9f9f9;
  position: relative;
  text-decoration: none;
  margin-left:3px;
}
#tv_schedule_modal h4,#add_feeds_modal h4{
  font-weight: bold;
}
#tv_schedule_modal .modal-title, #add_feeds_modal .modal-title{
  text-align:center;
}
.channel_outer button{
  background: transparent;
  border: none;
}
.panel-title > a{/*make whole title div clickable in the modal*/
  display:block;
}
#content h3{ /*feed name*/
  font-size:18px;
  color:#3f3f3f;
  font-weight: 300;
}

.news_feed h3{ /*head lines*/
  font-size: 16px !important;
}
.news_feed img{
  margin-right:10px;
}
.yahoo_news_entry p{
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.time{
  color:#9197a3;  
  font-size: 12px;
  margin-left:3px;
}

nobr{ /*for google_news */
  margin-left: 5px;
}
.lh a b{
  font-size: 16px;
}
#wikipedia_-_did_you_know .entry li,#wikipedia_-_on_this_day .entry li{
  text-decoration: none;
  border-bottom:1px solid #E0DCDC;
  padding-bottom: 10px;
  padding-top:10px;
}

.deals2{
  margin-bottom:10px;
}
#calendar_outer {
  font-size: 14px;
  margin-top: 2%;
}
#calendar_outer h2{
  font-size: 16px;
}

#footer{
  font-size:11px;
  margin-top:2%;  
}



